# Server configuration
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

# DB connection settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ehealthdatabase
DB_USER=postgres
DB_PASSWORD=your_db_password

# JWT secret keys (MUST BE SECURE RANDOM STRINGS IN PRODUCTION)
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

# URL Frontend
FRONTEND_URL=http://localhost:3001

# Mail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=your_email@gmail.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Firebase
FIREBASE_SERVICE_ACCOUNT='{
  "type": "service_account",
  "project_id": "your-project-id",
  "private_key_id": "your-private-key-id",
  "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk-fbsvc@your-project-id.iam.gserviceaccount.com",
  "client_id": "your-client-id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40your-project-id.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}'

# Ngân hàng - SePay Payment Gateway
SEPAY_MERCHANT_ID=your_merchant_id
SEPAY_API_KEY=your_sepay_api_key
SEPAY_WEBHOOK_SECRET=your_webhook_secret
SEPAY_ENVIRONMENT=DEVELOPMENT
SEPAY_BANK_ACCOUNT=your_bank_account
SEPAY_BANK_NAME=your_bank_name
SEPAY_ACCOUNT_HOLDER=your_account_holder
SEPAY_VA_ACCOUNT=your_va_account
