version: "3.8"

services:
  backend:
    build: .
    container_name: be_app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres

postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ehealthdatabase
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: db123456
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
