version: "3.8"

services:
  backend:
    build: .
    container_name: be_app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  pgdata:
